.smpl-ul>li {
	list-style: none;
}

form {
	bottom: 0;
}

#msgs {
	max-height: 85%;
    min-height: 86%;
    overflow: auto;
}

body {
	background: #eee;
}

md-content, .layout-wrap {
	background: transparent;
}

md-sidenav {
	background: #2B303A;
}

#side-content {
	color: #fff;
}

#menu {
	width: 100%;
}

md-card {
	background: #fff;
	color: #ff5252;
}

#usrs>li {
	list-style: none;
}

#usrs {
	margin-right: 15px;
	height: 87%;
	float: left;
    background: #ddd;
    padding: 10px;
}